version: '3.8'

services:
  nestjs:
    env_file:
      - .env
    build:
      context: .
      dockerfile: Dockerfile
    container_name: nestjs-app
    ports:
      - "3000:3000"
    depends_on:
      - browserless
    networks:
      - app-network
    volumes:
      - .:/app
      - /app/node_modules

  browserless:
    image: ghcr.io/browserless/chromium
    container_name: browserless
    ports:
      - "3001:3000"
    env_file:
      - .env
    networks:
      - app-network

networks:
  app-network:
    driver: bridge